*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root{
    height: 100vh;
    /* background:url(wallpaper.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(252, 243, 4);
   
}